.DS_Store
backend/.serverless
node_modules
.env
backend3/.env
backend3/keycloak.json
backend3/config/database.js
backend3/db/config/config.json
backend3/config/database.js
backend3/config/database.js
