#sectioned-card {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 40%;
  background-color: #cccccc;
  border-radius: 0.28571429rem 0 0 0.28571429rem !important;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.ui.cards > .card > :first-child,
.ui.card > :first-child {
  font-size: 13pt;
  border-radius: 0.28571429rem 0 0 0.28571429rem !important;
}

#section {
  right: 0px;
}

.labeledCard {
  font-size: 13pt;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}

.labeledCard .label {
  padding: 0.5em;
  position: absolute;
  left: 0px;
  height: 100%;
  border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
  color: white;
  margin: 0px;
}

.labeledCard .content {
  position: relative;
  width: 50%;
  padding: 0.25em !important;
}
