.gedsField .disabled {
  opacity: 1 !important;
}

.gedsField label {
  opacity: 1 !important;
}

.gedsField {
  opacity: 1 !important;
}

.gedsField .input input {
  color: #27348b !important;
  border: 1px solid #27348b !important;
}
