.organizationList .icon {
  left: 0px;
  position: relative;
  top: -5px;
}

.organizationList .list {
  padding-bottom: 0px !important;
}

.phoneNumberArea {
  display: inline-block;
  width: 200px;
}

#primaryCard {
  margin-top: 0px;
}

.secondRow {
  padding-top: 0px !important;
}
