.organizationList .icon {
  position: relative;
  top: -5px;
  left: 0px;
}

.organizationList .list {
  padding-bottom: 0px !important;
}

.phoneNumberArea {
  width: 200px;
  display: inline-block;
}
