.logoBox {
  position: absolute;
  top: 10px;
  width: 200px;
}

.bodyContent {
  bottom: 0px;
  position: absolute;
  top: 48px;

  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.bodyContent.searchless {
  -webkit-transform: translate(-350px, 0);
  -moz-transform: translate(-350px, 0);
  -o-transform: translate(-350px, 0);
  -ms-transform: translate(-350px, 0);
  transform: translate(-350px, 0);
}

.resultContent {
  left: 350px;
  padding-left: 40px;
  padding-top: 10x;
  position: absolute;
  top: 0px;
  width: 100%;
}

.sideBar {
  background-image: linear-gradient(to left, #6435c9 50%, #322059);
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 350px;
}

.closeSidebarButton {
  color: #6435c9;
  left: 345px;
  position: absolute;
  top: 50%;
}

.closeSidebarButton:hover {
  color: #9455ff;
}

.closeSidebarButton.icon {
  font-size: 30px;
}

.openSidebarButton {
  color: #6435c9;
  position: absolute;
  top: 50%;
}

.openSidebarButton:hover {
  color: #9455ff;
}

.openSidebarButton.icon {
  font-size: 30px;
}
