.compactWrapper {
  display: inline-block;
  position: relative;
}

.defaultWrapper {
  position: relative;
}

.innerButton {
  color: #888888;
  font-size: 12pt;
  min-width: 50px;
  position: absolute;
  right: 4pt;
  top: 4pt;
  z-index: 10;
}

.outerButton {
  color: #888888;
  font-size: 12pt;
  left: 100%;
  min-width: 50px;
  position: absolute;
  top: 4pt;
  z-index: 10;
}
